## Explore the noble gas data collected on OSNAP 2016

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np

from sklearn.linear_model import LinearRegression

%matplotlib inline
sns.set_style("darkgrid")

In [6]:
# load in the IGF data

fname = '~/google_drive/data/greenland/cruise_data/2016/OSNAP/IGF_analysis/NLB3_Final.xlsx'


data = pd.read_excel( fname, sheet_name=0, header= [0,1] ) 

# Now let's drop the second level that contains the units
data.columns = data.columns.droplevel(1)

# lets replace the annoying parenthesis in the column headers
data.columns = data.columns.str.replace("[()]", "")

data.head()

station,stacast,bottle,pressure,temperature,salinity,duplicate,samplename,Del3He,CHe,CNe,...,ddHe,ddNe,ddAr,ddKr,ddXe,dCHe,dCNe,dCAr,dCKr,dCXe
15.0,1.0,10.0,100.963,6.5022,35.0345,0.0,CW20170315104403,-0.781,1.777863e-09,7.681813e-09,...,-0.0523,0.003842,0.107155,1.052295,0.036523,9.196513e-13,2.930786e-13,1.565937e-08,3.670512e-11,1.872341e-13
15.0,1.0,10.0,100.963,6.5022,35.0345,1.0,CW20170530105305,-1.472,1.778783e-09,7.681520e-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15.0,1.0,12.0,52.050,7.5809,34.9216,0.0,CW20170419105602,-1.703,1.773301e-09,7.635802e-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15.0,1.0,14.0,25.034,8.8382,34.8533,0.0,CW20170523104306,-0.770,1.771936e-09,7.592183e-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19.0,1.0,7.0,177.994,5.0388,34.9106,0.0,CW20170419105604,-1.621,1.805744e-09,7.837260e-09,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN